* {
    box-sizing: border-box;   
}

@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

html {
    font-size: 16px;
    height: 100vh;
    font-family: 'Kdam Thmor Pro', sans-serif;  
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-image: url(./Resources/Ellipse\ 2.png);
    background-repeat: no-repeat;
    background-position:bottom; 
    background-size:100vh;
    background-color: rgba(217, 199, 255, 0.5);
}

header {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.23rem;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
}

header ul {
    margin-left: 42%;
    margin-right: auto;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

#aboutMe {    
    background-color: rgba(41,6,96,0.3);
    padding: 0.5rem;
    margin-right: 2rem;
    z-index: 100;
    text-decoration: none; 
    font-size: 1.5rem;
    /* border-radius: 0.3rem; */
}

a {
    text-decoration: none;
    padding: 0.5rem;
}

a:hover {
  color: white;
}

#aboutMe:hover {
    background-color: rgb(41,6,96);
    z-index: 100;
}


#projects {
    z-index: 5;
}

#projects {
    color: rgb(41,6,96);
}

#projects a:hover {
    color:white;
    background-color: rgb(41,6,96);
    z-index: 100;
}

#projects {
    padding: 0.5rem;
}


/* ------- main part article - body ------- */



article {
    position: relative;
    display:flex;
    flex-wrap: wrap;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.circle-name  {
    margin-top: -7rem;
    position: relative;
    display: flex;
    width: 35rem;
    height: 35rem;
    margin-left: 1rem;
    align-items:center;
    justify-content: center;   
    background: #e8f5fa;
    border-radius: 100%;
    font-size: 1.25rem;
    line-height: 2;
    letter-spacing: 0.13rem;
    padding:1rem;    
}

.circle-name .name-and-text {
    width: 22rem;
    font-size: 1rem;
    line-height: 2;
    letter-spacing: 0.13em;
    /* padding:1rem; */
    color:black; 
}

.circle-name .name-and-text h3 {
    font-weight: 700;
}
.circle-name .name-and-text h4 {
    font-weight: 400;
}

/* article .blend-background-picture (
    background-color: rgba(217, 199, 255, 0.5);
    background-blend-mode: multiply;
) */

article .picture {  
    width: 9rem;
    height: 16rem;
    background-image: url(./Resources/IMG_1405.jpeg);
    background-size: 100%; 
    background-color: rgb(217, 199, 255);
    background-blend-mode: luminosity;
}

.skills-icons {
    display: flex;
    margin-top: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.skills img {
    margin-top: 10%;
    padding: 0.3rem;
    font-size: 1rem;
    width: 4rem;
    height: auto;
    opacity: 0.7;
}

.picture-with-email-and-skills-container {
    display: flex;
    flex-direction: column;
    margin-top: 2.5em;
    align-items: center;  
}


.email {
    font-size: 1.1rem;
}


/* ----- header media rulset for small devices ---- */


@media only screen and (max-width: 420px) {
    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }
    header {
        display: flex;
        /* justify-content: space-evenly; */
        width: 100%;
        letter-spacing: 0.1em;
        font-size: 1.2rem;
    }

    header ul {
        margin-left: auto;
        margin-right: auto;
        }

    #aboutMe {
        font-size: 1.2rem;
    }

} 

/* ----- article media rulset for small devices ---- */

@media only screen and (max-width: 420px) {

    body {
        overflow-x: hidden;
    }

   header ul {
       margin-bottom: 8rem; 
    }
    
    article .circle-name {
        display: none;
    }

    article{
        flex-wrap: wrap;
        margin-top: 5%;
    }

    article .picture {  
        display: none;
    }


    article .mobile-circle-name {
        display: flex;
        z-index: 100;
    }
    


    .mobile-name-text .text-and-picture {
        float: right;
        width: 7rem;
        height: 12rem;
        background-image: url(./Resources/IMG_1405.jpeg);
        background-size: 100%; 
        background-color: rgb(217, 199, 255);
        background-blend-mode:luminosity;
    }


    .mobile-circle-name .mobile-name-text {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        margin-bottom: 0;
        z-index: -10;
    }
    
}