* {
    box-sizing: border-box;   
}

html {
    font-size: 16px;
    height: 100vh;
    font-family: 'Inter';
}

body {
    height: auto;
    width: 100%;
    background-color: rgba(217, 199, 255, 0.5);
}

header {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.23rem;
    font-family: 'Inter';
    color: black;
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
}

header ul {
    margin-left: 42%;
    margin-right: auto;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

#projects  {
    background-color: rgba(41,6,96,0.3);
    padding: 0.5rem;
    margin-right: 3rem;
    z-index: 5;
    text-decoration: none; 
    font-size: 1.5rem;
}

a {
    text-decoration: none;
}

a:hover {
    color: white;
   
}

#aboutMe {
    padding: 0.5rem;
}

#aboutMe a {
    color: rgb(41,6,96);
}

#aboutMe a:hover {
    color:white;
    background-color: rgb(41,6,96);
    padding: 0.5rem;
}

#projects {
    padding: 0.5rem;
}


/*----- main article - body ----- */

article {
    display: flex;
    /* flex-wrap: wrap; <-----for media mobile version*/
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.js-projects {
    position: relative;
    display: flex;
    width: 25rem;
    height: 25rem;
    margin-top: -2rem;
    margin-left: 1rem;
    align-items:center;
    justify-content: center;
    background: rgba(241, 245, 247, 0.929);
    opacity: 0.75;
    border-radius: 100%;
    font-size: 1rem;
    line-height: 2;
    letter-spacing: 0.13em;
    padding:1rem;    
}

.js-projects .projects-text {
    width: 23rem;
    font-size: 1.2rem;
    line-height: 2;
    letter-spacing: 0.13em;
    padding:2rem;
    color:black;
}

.html-projects {
    position: relative;
    display: flex;
    width: 30rem;
    height: 30rem;
    margin-left: -6rem;
    align-items:center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.544);
    opacity: 0.75;
    border-radius: 100%;
    font-size: 1rem;
    line-height: 2;
    letter-spacing: 0.13rem;
    padding:2rem;    
}

.html-projects .html-projects-text {
    width: 30rem;
    font-size: 1.2rem;
    line-height: 2;
    letter-spacing: 0.13em;
    padding:4rem;
    color:black; 
}

h3 {
    font-weight: 700;
}

h4 {
    font-weight: 400;
}

skills {
    display: flex;
   
    flex-direction: column;
    margin-left: 5rem;
    margin-right: 5rem;
}

.picture-with-email {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.skills {
    display: flex;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.skills img {
    padding: 0.3rem;
    width: 4rem;
    height: auto;
}

.email {
    font-size: 1.1rem;
}

article .picture {
    width: 10rem ;
    height: 17rem;
    background-image: url(/Resources/IMG_1405.jpeg);
    background-repeat: no-repeat;
    background-size: 100%; 
    background-position: center;
}

/* ----- header media rulset for small devices ---- */


@media only screen and (max-width: 420px) {
    header {
        letter-spacing: 0.1em;
        font-size: 1.2rem;
    }
    header ul {
        margin-left: auto;
        margin-right: auto;
        }
    #projects {
        font-size: 1.2rem;
    }
    #projects {
        margin-right: 1.3rem;
    }
} 

/* ----- article media rulset for small devices ---- */

@media only screen and (max-width: 420px) {

    article{
        flex-wrap: wrap;
        width: 100%;
    }
    .html-projects {
        margin-top: -2rem;
        margin-left: 2rem;
    }
     
    article .picture {  
        width: 9rem;
        height: 14rem;
        margin-top: 2rem;
    }
    

}