* {
    box-sizing: border-box;   
}

html {
    font-size: 16px;
    height: 100vh;
    font-family: 'Inter';  
}

body {
    height: auto;
    background-color: rgba(217, 199, 255, 0.5);
}

header {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.23em;
    font-family: 'Inter';
    color: black;
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
}

header ul {
    margin-left: 43%;
    margin-right: auto;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

#projects  {
    background-color: rgba(41,6,96,0.3);
    padding: 0.5rem;
    margin-right: 3rem;
    z-index: 5;
    text-decoration: none; 
    font-size: 3rem;
}

a {
    text-decoration: none;
}

a:hover {
    color: white;
   
}

#aboutMe {
    padding: 0.5rem;
}

#aboutMe a {
    color: rgb(41,6,96);
}

#aboutMe a:hover {
    color:white;
    background-color: rgb(41,6,96);
    padding: 0.5rem;
}

#projects {
    padding: 0.5rem;
}

article {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.js-projects {
    position: relative;
    display: flex;
    width: 40rem;
    height: 40rem;
    margin-left: 5rem;
    margin-top: -5rem;
    align-items:center;
    justify-content: center;
    background: rgba(241, 245, 247, 0.929);
    opacity: 0.75;
    border-radius: 100%;
    font-size: 2.25rem;
    line-height: 2;
    letter-spacing: 0.13em;
    padding:1rem;    
}

.js-projects .projects-text {
    width: 27rem;
    font-size: 2.3rem;
    line-height: 2;
    letter-spacing: 0.13em;
    padding:2rem;
    color:black; 
}

.html-projects {
    position: relative;
    display: flex;
    width: 50rem;
    height: 50rem;
    margin-left: -6rem;
    align-items:center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.544);
    opacity: 0.75;
    border-radius: 100%;
    font-size: 2.25rem;
    line-height: 2;
    letter-spacing: 0.13em;
    padding:2rem;    
}

.html-projects .html-projects-text {
    width: 30rem;
    font-size: 2.3rem;
    line-height: 2;
    letter-spacing: 0.13em;
    padding:2rem;
    color:black; 
}

h3 {
    font-weight: 700;
}

h4 {
    font-weight: 400;
}

skills {
    display: flex;
   
    flex-direction: column;
    margin-left: 5rem;
    margin-right: 5rem;
}


.skills {
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
    margin-right: 5rem;
}

.skills img {
    padding: 0.3rem;
}

.picture-with-email {
    display: block;
    justify-content: center;
    text-align: center;
}

.email {
    margin-top: 2rem;
    font-size: 2.1rem;
}

article .picture {
    width: 20rem ;
    height: 35rem;
    background-image: url(/Resources/IMG_1405.jpeg);
    background-repeat: no-repeat;
    background-size: 100%; 
    background-position: center;
    background-blend-mode: luminosity;
}